<div class='modal-top'>
  <div class='modal-logo-box'>
    <img class='modal-logo-img' src='{{eventObj.imageLogo}}' alt='logo' />
  </div>
</div>
<div class='modal-main'>
  <div class='modal-side-left'>
    <img class='modal-img' src='{{eventObj.image}}' alt='{{eventObj.name}}' />
  </div>
  <div class='modal-side-right'>
    <div class='section --info'>
      <span class='title'>Info</span>
      <span class='event --desr'>
        {{eventObj.description}}
      </span>
    </div>
    <div class='section --info'>
      <span class='title'>When</span>
      <span class='event --date'>{{eventObj.date}}</span>
      <span class='event --time'>
        {{eventObj.time}}
        <span
          class='event --timeZone'
        >({{eventObj.timeZone}})</span>
      </span>

    </div>
    <div class='section --info'>
      <span class='title'>Where</span>
      <span class='event --region'>{{eventObj.city}},
        {{eventObj.country}}</span>
      <span class='event --location'>{{eventObj.location}}</span>
    </div>
    <div class='section --info'>
      <span class='title'>Who</span>
      <span class='event --author'>{{eventObj.name}}</span>
    </div>
    <div class='section --toBuy'>
      <span class='title'>Prices</span>
      <div class='zone-toBuy'>
        <span class='event --price --standart'>
          <svg class='btn-icon' width='29' height='19'>
            <use href='{{sprite}}#icon-ticket'></use>
          </svg>
          Standart
          {{eventObj.priceStandart.min}}-{{eventObj.priceStandart.max}}
          {{eventObj.priceStandart.currency}}
        </span>
        <button class='button --toBuyBtn' type='button'>
          BUY TICKETS
        </button>
        <span class='event --price --vip'>
          <svg class='btn-icon' width='29' height='19'>
            <use href='{{sprite}}#icon-ticket'></use>
          </svg>
          VIP
          {{eventObj.priceVIP.min}}-{{eventObj.priceVIP.max}}
          {{eventObj.priceVIP.currency}}
        </span>
        <button class='button --toBuyBtn' type='button'>
          BUY TICKETS
        </button>
      </div>
    </div>
  </div>
</div>
<div class='modal-bottom'>
  <button class='button --moreInfoBtn' type='button' data-key-word='{{genre}}'>
    MORE FROM THIS AUTHOR
  </button>
</div>