<span
  class='event --price --standart'>
  <svg class='btn-icon' width='29' height='19'>
    <use href='{{sprite}}#icon-ticket'></use>
  </svg>
  {{type}}
  <span class='js-price'><span class='js-price'>
      <span class='js-price-min'>{{min}}</span>
      -
      <span class='js-price-max'>{{max}}</span>
      <span>{{currency}}</span>
    </span>
  </span>
</span>
<a
  class='linkBtn --toBuyTicketLink {{linkStatusClass}}'
  href='{{toBuyUrl}}'
  target='_blank'
  rel='noopener noreferrer'
>
  BUY TICKETS
</a>